* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg,#4e73df,#1cc88a);
    min-height: 100vh;
}

.container {
    background: white;
    width: 90%;
    max-width: 500px;
    margin: 60px auto;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #4e73df;
}

select, button {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 15px;
}

button {
    background: #4e73df;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #2e59d9;
    transform: scale(1.05);
}

.result-box {
    font-size: 18px;
    margin-top: 20px;
}

/* DASHBOARD */

.dashboard-container {
    width: 95%;
    margin: 40px auto;
    text-align: center;
}

.stats {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 40px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    width: 200px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.card h2 {
    margin-top: 10px;
    color: #1cc88a;
}

.charts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

canvas {
    background: white;
    padding: 20px;
    border-radius: 15px;
    width: 400px !important;
    height: 300px !important;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

a {
    display: inline-block;
    margin-top: 20px;
    color: #4e73df;
    text-decoration: none;
    font-weight: bold;
}

@media(max-width: 768px){
    .stats, .charts {
        flex-direction: column;
        align-items: center;
    }
}